<a href="#Wyoming">link</a>
<a href="#end">another link</a>
<br>
<br>
<table id="super" border="1">
  <th>State</th>
  <th>Short Name</th>
  <th>Polling Data</th>
  <% @states.each do |state, short| %>
    <tr>
      <td id ="<%= state %>"></a><%= state %></td>
    <td><%= short %></td>
    <td>
    </td>
  </tr>
<% end %>
</table>
<h3 id ="end">whoooa</h3>