<a href="#Wyoming">wyom</a>
<a href="#Nebraska">neb</a>
<a href="#end">another link</a>
<br>
<br>
<table id="super" border="1">
  <th>State</th>
  <th>Polling Data</th>
  <% @states.each do |state| %>
    <tr>
      <td id ="<%= state.state_long %>"><%= state.state_long %></td>
      <td>
        <ul>
          <li>FivethirtyEight Clinton: <%= state.percent_clinton %>%</li>
          <li>FivethirtyEight Trump: <%= state.percent_trump %>%</li>
          <li></li>
          <li></li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
<h3 id ="end">whoooa</h3>
<a href="#Maryland">mary</a>